# ----------------------------- C -----------------------------------
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# ----------------------------- Python -----------------------------------
# Ignore files with no extension
*
!*/
!*.*

# Virtual env
.venv/

# Python cache/artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Tools & test caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Env & OS bits
.env
.env.*
.DS_Store

# Binaries
*.safetensors
*.bin

# Stuff
uv.lock
.vscode/
output.txt
note.txt
legacy.hip/
